pyrofork==2.3.45
tgcrypto
pymongo[srv]>=4.9.2
motor>=3.6.0
marshmallow>=3.22.0
umongo>=3.1.0
requests
bs4
git+https://github.com/DreamXBotz/cinemagoer
shortzy
datetime
pytz
aiohttp
openai
psutil==5.9.4
googletrans==3.1.0a0
dnspython>=2.3.0
yt-dlp
wget
aiofiles
youtube_search
youtube-search-python==1.4.6
youtube_dl
ytthumb
telegraph
fuzzywuzzy
python-Levenshtein
setuptools
